[Unit]
Description=Run SSL Certificate Monitor daily
Requires=ssl-monitor.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target